[Unit]
Description=Collate data and assess whether lawn needs watering
After=multi-user.target

[Service]
Type = idle
ExecStart=/usr/bin/python3 -u /home/pi/git/soil_moisture/watering_rules.py
WorkingDirectory=/home/pi/git/soil_moisture
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
