[Unit]
Description=Soil moisture reader
After=multi-user.target

[Service]
Type = simple
ExecStart=/usr/bin/python3 -u /home/pi/git/soil_moisture/watering_relay_control/read_moisture.py
WorkingDirectory=/home/pi/git/soil_moisture/watering_relay_control/
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
